:root {
    --text-blue: hsl(238, 29%, 16%);
    --text-red: hsl(14, 88%, 65%);
    --text-dkblue: hsl(240, 6%, 50%);
    --text-vdkblue: hsl(237, 12%, 33%);
    --gradient-violet: hsl(273, 75%, 66%);
    --gradient-blue: hsl(240, 73%, 65%);
    --divider-blue: hsl(240, 5%, 91%);
}


html{
    box-sizing: border-box;
    font-size: 100%;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(var(--gradient-violet),var(--gradient-blue) );
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 0.75rem;
    padding: 3rem;
    color: var(--text-blue);
}
.card {
    display: block;
        background: white;
        border-radius: 2rem;
        max-width: 56rem;
        margin:  6rem auto;
        min-height: 25rem;
        background-image: url('images/bg-pattern-mobile.svg');
        background-repeat: no-repeat;
        background-position: top center;
        color: var(--text-blue);
    height: auto;
}

.card__image img {
    display: block;
    src: url('images/illustration-woman-online-mobile.svg');
    width: 100%;
    height: auto;
    max-width: 15rem;
    margin: auto;
    transform: translateY(-55%);
    
}

.card__text {
    padding: 3rem;
    transform: translateY(-20%);
    color: var(--text-blue);
    font-weight: 400;
}

.card__box {
    justify-content: center;
    display: none;    
}

.accordian__question{
    display: inline-block;
    text-align: left;
    margin-right:10rem;
    width: 100%;
    border: none;
    background: transparent;
    font-size: .8rem;
    font-family: 'Kumbh', sans-serif;
    padding-right: 1.5em;
    
}

.accordian__question img {
    margin-top: 0.5em;
    float: right;
    transform: scale(2);
}





.accordian__question::after {
    display: block;
    width: 1.2rem;
    height: 0.5rem;
    content: '';
    
}

.accordian {
    height:auto;
}

.accordian__collapse {
    max-height: 0;
    overflow-y: hidden;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    animation : 3s delay-overflow;
}

.accordian__content {
    font-family: 'Kumbh', sans-serif;
    
}

.accordian__item h2{
    margin-bottom: 1em;
    border-bottom: 1px solid var(--divider-blue);
}

@media (min-width: 56em) {
    .card {
        position: relative;
        display: flex;
        margin: 6rem auto;
        background-image: url(images/bg-pattern-desktop.svg);
        background-size: 25rem;
        background-repeat: no-repeat;
        background-position: -10% center;
        height: 70vh;

    }

    .card__image, .card__text {
        padding-right: 2rem;
        flex: 1;
    }

    .card__image {
        display:flex;
        align-items: center;
        
    }

    .card__text {
        transform: translateY(0%);
        font-weight: 400;
    }

    .card__image img {
        transform: translateX(-2rem);
        overflow: hidden;
        max-width: 25rem;
    }

    .card__box {
        width: 15%;
        height: 25%;
        justify-content: center;
        top: 25%;
    display: block;
    position: absolute;
    left: 0;
    transform: translateY(75%) translateX(-40%);
    
    z-index: 9;

    }

}


